<!-- Footer -->
<footer class="site-footer">
    <div class="small_grid">
        <div class="one_third visible-lg-inline-block">
            <a href="#" class="footer_logo"><img src="images/footer_logo.png" alt="Footer logo"></a>
            <p>Physician Access: 404.649.6600 </p>
            <p><a href="#">Facebook</a></p>
            <p><a href="#">YouTube</a></p>
        </div>
        <div class="one_third hidden-lg">
            <h4>Menu</h4>
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">Subspecialties</a></li>
                <li><a href="#">Procedures</a></li>
                <li><a href="#">Our Radiologists</a></li>
                <li><a href="#">For Patients</a></li>
                <li><a href="#">Locations</a></li>
                <li><a href="#">Contact Us</a></li>
                <li><a href="#">Privacy | Sitemap</a></li>
            </ul>
        </div>
        <div class="one_third">
            <h4>LOCATIONS</h4>
            <ul>
                <li><a href="#">Northside Hospital - Atlanta</a></li>
                <li><a href="#">Northside Hospital - Cherokee</a></li>
                <li><a href="#">Northside Hospital - Forsyth</a></li>
                <li><a href="#">Northside Pediatric Imaging Center</a></li>
                <li><a href="#">Women's Imaging Locations</a></li>
                <li><a href="#">All Northside Radiology Locations</a></li>
            </ul>
        </div>
        <div class="one_third">
            <h4>SPECIALITIES</h4>
            <ul>
                <li><a href="#">Women's Imaging</a></li>
                <li><a href="#">Orthopedic Imaging</a></li>
                <li><a href="#">Oncology Imaging</a></li>
                <li><a href="#">Interventional Radiology</a></li>
                <li><a href="#">Uterine Fibroid Embolization</a></li>
            </ul>
        </div>
    </div>
    <div class="copy">
        &copy; 2015 Northside Radiology Associate
    </div>
</footer>
<!-- end Footer -->