<!-- Header -->
<header class="main-header clearfix">
    <h1 class="logo">
        <a href="#"><img src="images/logo.png" alt="Logo"></a>
    </h1>
    <div class="main-menu-wrp">
        <ul class="main-menu-list">
            <li><a href="#">Procedures</a></li>
            <li><a href="#">Our Physicians</a></li>
            <li><a href="#">For Patients</a></li>
            <li><a href="#">Locations</a></li>
            <li><a href="#">Contact us</a></li>
        </ul>
    </div>
    <div class="mobile_menu_wrp hidden-lg"><a href="#" class="mobile_menu closed"><span class="menu_open">Menu</span><span class="menu_close">Close</span></a>
        <div class="menu_list_holder">
            <ul class="mobile_menu_list">
                <li><a href="#">Procedures</a></li>
                <li><a href="#">Our Physicians</a></li>
                <li><a href="#">For Patients</a></li>
                <li><a href="#">Locations</a></li>
                <li><a href="#">Contact us</a></li>
            </ul>
        </div>
    </div>
</header>
<!-- end Header -->