<!-- Head -->
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Northside Radiology Associates</title>
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width" />
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,300|Montserrat|Libre+Baskerville:400italic' rel='stylesheet' type='text/css'>
    <script src="https://maps.googleapis.com/maps/api/js"></script>
	<link rel="stylesheet" href="css/app.css">
	<script src="js/app.js"></script>
</head>
<!-- end Head -->