<div class="main_block">
    <div class="container-fluid">
        <div class="row main-blocks">
            <div class="col-md-8 col-sm-12 big_block">
                <div class="contact-block block">
                    <div class="vert-text">
                        <h2>Taking Pride in Your<br>Image Since 1970</h2>
                        <a href="#" class="btn main-btn">Contact</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-12">
                <div class="uterine block">
                    <div class="vert-text">
                        <h2>Uterine Fibroid Embolization</h2>
                        <a href="#" class="btn main-btn">View</a>
                    </div>
                </div>
                <div class="care block">
                    <div class="vert-text">
                        <h2>World-Class Technology &amp; Care</h2>
                        <a href="#" class="btn main-btn">Learn more</a>
                    </div>
                </div>
            </div>
            <div></div>
        </div>
        <div class="links-block">
            <h3 class="block-title">
               <span class="text"><img src="images/icon.png"></span>
            </h3>
            <ul class="links-list">
                <li>
                    <div>
                        <i class="icon-location"></i>
                        <h4>LOCATIONS &amp; DIRECTIONS</h4>
                        <p>Consequat quam, et porta mi ultricies a. Vestibulum dapibus euismod leo id dapibus. Donec iaculis mattis malesuada. Duis vulputate eros ligula, in sodales.</p>
                        <a href="#" class="more-btn">Read more ></a>
                    </div>
                </li>
                <li>
                    <div>
                        <i class="icon-calendar"></i>
                        <h4>PHYSICIANS</h4>
                        <p>Consequat quam, et porta mi ultricies a. Dapibus euismod leo id dapibus. Donec iaculis mattis malesuada. Duis vulputate eros ligula, in sodales sapien.</p>
                        <a href="#" class="more-btn">Read more ></a>
                    </div>
                </li>
                <li>
                    <div>
                        <i class="icon-user"></i>
                        <h4>post procedure care</h4>
                        <p>Et porta mi ultricies a. Vestibulum dapibus euismod leo id dapibus. Donec iaculis mattis malesuada. Duis vulputate eros ligula, in sodales sapien.</p>
                        <a href="#" class="more-btn">Read more ></a>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>
<div class="content_block">
    <div class="container-fluid">
        <div class="welcome_block">
            <h3 class="block-title"><span class="text">Welcome</span></h3>
            <p>Northside Radiology Associates has been the exclusive provider of radiological services at Northside Hospital since 1970. Highly subspecialized and board-certified, we are honored to provide our expertise to the patients and referring physicians of Northside Hospital and its affiliates.</p>
        </div>
        <div class="procedures_block">
            <h3 class="block-title"><spa class="text">PROCEDURES</spa></h3>
            <ul class="procedures-list">
                <li>
                    <div>
                        <h4>WOMEN’S IMAGING</h4>
                        <p>Northside Radiology Associates was featured as the cover story in Atlanta MD News, a Business & Practice Management Magazine...</p>
                        <a href="#" class="more-btn">Read More ></a>
                    </div>
                </li>
                <li>
                    <div>
                        <h4>ORTHOPAEDIC IMAGING</h4>
                        <p>The Institute for Orthopaedic Imaging (IOI) offers patients a comprehensive range of musculoskeletal imaging services...</p>
                        <a href="#" class="more-btn">Read More ></a>
                    </div>
                </li>
                <li>
                    <div>
                        <h4>Oncology IMAGING</h4>
                        <p>When first diagnosed with cancer, patients are often overwhelmed with emotions and have many questions. Oncology imaging helps...</p>
                        <a href="#" class="more-btn">Read More ></a>
                    </div>
                </li>
                <li>
                    <div>
                        <h4>INTERVENTIONAL RADIOLOGY</h4>
                        <p>Interventional radiologists are board-certified physicians who specialize in minimally invasive...</p>
                        <a href="#" class="more-btn">Read More ></a>
                    </div>
                </li>
            </ul>
            <a href="#" class="procedures">View all Procedures</a>
        </div>
        <div class="news_block">
            <h3 class="block-title"><span class="text">News</span></h3>
            <ul class="news_list">
                <li>
                    <h4 class="news_title">Latest News Story One</h4>
                    <a href="#" class="more-btn">Read More ></a>
                </li>
                <li>
                    <h4 class="news_title">Latest News Story Two</h4>
                    <a href="#" class="more-btn">Read More ></a>
                </li>
                <li>
                    <h4 class="news_title">Latest News Story Three</h4>
                    <a href="#" class="more-btn">Read More ></a>
                </li>
            </ul>
        </div>
    </div>
</div>