.noresult{
	text-align:center;
	padding: 35px 0 100px;
}
.btn-default.active_spec{
	color: #333;
	background-color: #e6e6e6;
	border-color: #adadad;
	outline: 0;
	box-shadow: inset 0 3px 5px rgba(0,0,0,.125);
}

@media screen and (min-color-index:0) 
and(-webkit-min-device-pixel-ratio:0) { @media
{
    .page-title{
        text-shadow: 0 0 0px rgba(0, 0, 0, 0)!important;
    }
}}