.breadcrumbs {
    position: relative;
    padding: 35px 0 0;
    margin: 0 0 25px;

    ul {
        @extend %clear-list;
        font-size: 0;

        li {
            display: inline-block;
            margin: 0 5px 0 0;
            font: 15px/20px $Avenir-Light;
            color: $light-grey;

            a {
                color: $light-grey;

                &:hover {
                    text-decoration: underline;
                }
            }

            //&:after {
            //    content: '>';
            //}

            &:last-child:after {
                display: none;
            }
        }
    }
    strong {
        font-weight: normal;
    }
}