.btn {
  &.main-btn {
    font-size: 14px;
    font-family: 'Montserrat';
    text-transform: uppercase;
    border-radius: 4px;
    border: 1px solid #fff;
    line-height: 1;
    padding: 17px 0;
    text-align: center;
    min-width: 150px;
    transition: all 0.3s linear;
    letter-spacing: 1px;
    &:hover {
      background: #33363e;
      border: 1px solid #33363e;
      color: inherit;
    }
    @media #{$sm-max} {
      padding: 14px 0;
    }
  }
  &.full-width {
    width: 100%;
  }
}

.more-btn {
  font-family: 'Libre Baskerville';
  font-style: italic;
  color: #8b9dcb;
  text-transform: capitalize;
  letter-spacing: 0.4px;
  &:hover {
    text-decoration: underline;
    color: #8b9dcb;
  }
}

.read-more {
  font-family: 'Libre Baskerville';
  font-style: italic;
  color: #7a8fc4;
  letter-spacing: 0.4px;
  &:hover {
    text-decoration: underline;
    color: #7a8fc4;
  }
  &.show_map {
    letter-spacing: .7px;
  }
}

a.procedure_sort.btn.btn-default.full-width.sort-btn {
  opacity: 1 !important;
  background-color: $dark-grey !important;
  color: rgb(255, 255, 255) !important;
  transition: all .3s;
}

.btn-default, .procedure_sort {
  width: auto;
  min-width: 140px;
  height: 50px;
  padding: 15px;
  border: none;
  background: $dark-grey;
  font: 14px/20px 'Montserrat';
  text-transform: uppercase;
  color: #fff;
  transition: all .3s;
  &:active, &:focus {
    background: $dark-grey;
    opacity: 1;
    color: #fff;
  }
  &:hover {
    opacity: .8;
    background: '#c0c4cc';
    color: '#fff';
    transition: 'all .1s';
  }
}

.procedure_sort {
  -webkit-appearance: none;
  &.up {
    .fa-angle-down {
      display: none;
    }
    .fa-angle-up {
      display: inline-block;
    }
  }
  &.down {
    .fa-angle-up {
      display: none;
    }
    .fa-angle-down {
      display: inline-block;
    }
  }
  i {
    margin-left: 5px;
    font-size: 24px;
    line-height: 16px;
    vertical-align: top;
  }
}

.adress_controls_wrp {
  .prettyMapListSearch {
    .clearSearch, .doPrettySearch {
      width: auto;
      min-width: 100px;
      height: 50px;
      padding: 15px;
      border: 1px solid #7a8fc4;
      background: #7a8fc4;
      font: 14px/20px Montserrat;
      text-transform: uppercase;
      color: #fff;
      transition: all .3s;
      border-radius: 5px;
      margin-left: 7px;
    }

    @media #{$xs-max} {
      margin: 10px 0;
    }

    .clearSearch {
      border-radius: 5px;
      margin-left: 10px;
    }
  }
}
.reset-btn {
  display: none !important;
  &.visible {
    display: inline-block !important;
  }
}

.get-direction-btn {
  width: auto;
  min-width: 140px;
  height: 52px;
  padding: 15px;
  border: 1px solid #888;
  background: #343840;
  font: 14px/20px Montserrat;
  text-transform: uppercase;
  color: #fff;
  -webkit-transition: all .3s;
  transition: all .3s;
  border-radius: 5px;
  display: inline-block;
  &:hover {
    color: #fff;
    background: #c0c4cc;
  }
}

