@include font-face('Avenir-Light', 'Avenir-Light', 100, normal);

@include font-face('Avenir', 'Avenir-Heavy', 800, normal);

@include font-face('GillSans', 'GillSans', 400, normal);

@include font-face('GillSans', 'GillSans-Light', 300, normal);

@include font-face('GillSans', 'GillSans-SemiBold', 500, normal);

@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,700');

@import url('https://fonts.googleapis.com/css?family=Libre+Baskerville:400,400i');

@include font-face('nr', 'nr', 100, normal);

@font-face {
    font-family: 'FuturaPTBold';
    src: url($path-fonts + "FuturaPTBold.otf") format("opentype");
}

@font-face {
    font-family: 'FuturaPTBook';
    src: url($path-fonts + "FuturaPTBook.otf") format("opentype");
}

@font-face {
    font-family: 'FuturaPTDemi';
    src: url($path-fonts + "FuturaPTDemi.otf") format("opentype");
}

@font-face {
    font-family: 'FuturaPTLight';
    src: url($path-fonts + "FuturaPTLight.otf") format("opentype");
}

@font-face {
    font-family: 'FuturaPTMedium';
    src: url($path-fonts + "FuturaPTMedium.otf") format("opentype");
}