/// FOOTER STYLES
.site-footer {
  background: #c0c4cc;
  color: #fff;
  padding: 63px 0 0;
  a {
    &:hover {
      text-decoration: underline;
    }
  }
  ul {
    padding: 0;
    margin: 0;
    list-style: none;
  }
  p {
    margin: 0 0 14px;
    letter-spacing: .4px;
  }
  li {
    margin: 0 0 17px;
    letter-spacing: 1px;
  }
  h4 {
    margin: 0 0 42px;
    font-size: 18px;
    font-family: $GillSans;
    text-transform: uppercase;
    letter-spacing: 2px;
    line-height: 0.4;
  }
  //small grid
  .small_grid {
    text-align: center;
    display: -webkit-flex;
    max-width: 1200px;
    margin: 0 auto 79px;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: center;
    .one_third {
      display: inline-block;
      vertical-align: top;
      text-align: left;
      &:nth-child(3) {
        padding: 0 116px 0 82px;
      }
    }
    @media #{$sm-max} {
      display: block;
      margin-bottom: 76px;
      .one_third {
        width: 100%;
        display: block;
        text-align: center;
        &:nth-child(3) {
          padding: 0;
        }
      }
    }
  }
  .footer_logo {
    display: inline-block;
    margin-bottom: 22px;
    img {
      display: block;
    }
  }
  .copy {
    border-top: 1px solid #fff;
    text-align: center;
    padding: 16px 0 26px;
    font-size: 13px;
  }
  @media #{$sm-max} {
    padding: 44px 0 0;
    h4 {
      font-size: 20px;
      margin: 0 0 34px;
    }
    ul {
      margin-bottom: 57px;
    }
    a {
      font-size: 18px;
    }
  }
}