.wpcf7-not-valid {
  border: 1px solid red !important;
}

.procedure_label {
  float: right;
  position: relative;
  margin: 0;
  &:before {
    content: "\f107";
    position: absolute;
    right: 7px;
    top: 12px;
    font-family: FontAwesome;
    color: #fff;
    transform: rotate(0deg);
    //transition: transform 0.3s linear;
    font-size: 25px;
    background: #343840;
    width: 25px;
    height: 25px;
    transform-origin: center;
    text-align: center;
    pointer-events: none;
  }
  .procedure_sort {
    &:hover,
    &:active,
    &:focus {
      color: #fff;
      background: #343840;
      opacity: 1;
      outline: none;
    }
  }
  &.down {
    &:before {
      transform: rotate(180deg);
      //transition: transform 0.3s linear;
    }
  }
}

.form-block {
  input {
    border: none;
  }
}

.cases-select-holder {
  position: relative;
  width: 221px;
  .select-arrow {
    position: absolute;
    background: url('../images/arrow.png') no-repeat;
    width: 15px;
    height: 9px;
    display: block;
    right: 20px;
    top: 17px;
    pointer-events: none;
  }
}


.cases-select {
  width: 100%;
  height: 43px;
  border-radius: 20px;
  border: 1px solid #c2c2c2;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  padding-left: 22px;
  color: #8d8d8d;
  font-weight: 500;
  option {
    color: #000;
  }
}