// HEADER STYLES
.main-header {
  padding: 9px 30px 8px 30px;
  top: 0;
  left: 0;
  transform: translateZ(0);
  @media #{$sm-max} {
    padding: 14px 25px 10px 20px;
    &.down {
      &.opened {
        height: 100%;
      }
    }
  }
  position: relative;
  width: 100%;
  z-index: 10;
  background: #fff;
  .logo {
    display: inline-block;
    margin: 0;
    a {
      display: block;
    }
    img {
      display: block;
      @media #{$sm-max} {
        height: 35px;
      }
    }
  }
  .main-menu-wrp {
    float: right;
    padding: 18px 0;
    .main-menu-list {
      margin: 0;
      padding: 0;
      list-style: none;
      li {
        display: inline-block;
        vertical-align: middle;
        &:before {
          content: '|';
          font-family: 'Open Sans';
          display: inline-block;
          vertical-align: top;
          font-weight: 400;
          color: #d7d7d7;
          font-size: 14px;
          line-height: 1;
          padding: 0 14px 0 7px;
        }
        &:first-child {
          &:before {
            content: none;
          }
        }
        &.current-menu-item {
          a {
            color: #555;
          }
        }
      }
      a {
        color: #8b9dcc;
        font-family: 'Montserrat';
        font-size: 11px;
        line-height: 14px;
        text-transform: uppercase;
        transition: all 0.3s linear;
        letter-spacing: 1.6px;
        &:hover,
        &.active {
          color: #555555;
        }
      }
    }
    @media #{$sm-max} {
      display: none;
    }
  }
  &.down {
    position: fixed;
    animation: header 0.6s;
    & + div,
    & + section {
      margin-top: 71px;
      @media #{$sm-max} {
        margin-top: 62px;
      }
    }
  }
}

@keyframes header {
  from {
    transform: translateY(-100%);
  }
  to {
    transform: translateY(0);
  }
}

.mobile_menu_wrp {
  float: right;
  margin: 11px 0;
  span {
    display: inline-block;
    font-family: 'Avenir';
    font-weight: 800;
    text-transform: uppercase;
    &.menu_open {
      color: #545454;
    }
    &.menu_close {
      color: #8b9dcc;
    }
  }
  a {
    display: block;
    font-size: 13px;
    &:hover {
      text-decoration: none;
    }
    &.closed {
      .menu_close {
        display: none;
      }
      .menu_open {
        display: inline-block;
      }
      & + .menu_list_holder {
        display: none;
      }
    }
    &.opened {
      .menu_open {
        display: none;
      }
      .menu_close {
        display: inline-block;
      }
      & + .menu_list_holder {
        display: block;
      }
    }
  }
}

.menu_list_holder {
  position: fixed;
  left: 0;
  right: 0;
  top: 62px;
  background: #8b9dcc;
  z-index: 5;
  height: auto;
  margin: 0;
  display: none;
}
.opened {
  .menu_list_holder {
    display: block;
  }
}

.mobile_menu_list {
  padding: 0;
  margin: 58px 0 0;
  list-style: none;
  text-transform: uppercase;
  li {
    text-align: center;
    margin-top: 41px;
    &.menu-item-17 {
      a {
        color: #252525;
        transition: all 0.3s linear;
      }
    }
  }
  a {
    color: #fff;
    text-transform: uppercase;
    font-size: 20px;
    font-family: 'Montserrat';
    letter-spacing: 2.6px;
    &:hover,
    &.active {
      color: #252525;
      transition: all 0.3s linear;
    }
  }
}