.site_icon {
    width: 13px;
    height: 18px;
    background: url('../images/icon_sprite.png') no-repeat;
    &.icon-loc {
        background-position: 0 -20px;
    }
    &.icon-calendar {
        width: 17px;
        height: 19px;
        background-position: -17px -20px;
    }
    &.icon-user {
        width: 16px;
        height: 18px;
        background-position: -38px -19px;
    }
}