html {
  height: 100%;
}

body {
  height: 100%;
  font-family: $default-font;
  font-size: $default-font-size;
  font-weight: $default-font-weight;
  font-style: $default-font-style;
  line-height: 1;
  color: $default-text-color;
  background-color: $body-bg;
}
.scrollable{
  -webkit-overflow-scrolling: touch;
}
a {
  color: inherit;
  &:hover {
    text-decoration: none;
    color: inherit;
  }
}

img {
  max-width: 100%;
}

.container {
  width: 1245px;
  max-width: 100%;
  padding: 0 22px;
}

.container-fluid {
  max-width: 1230px;
}

.row {
  @include custom-row(44px);
}

.vert-text {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.block-title {
  margin: 10px 0;
  text-align: center;
  overflow: hidden;
  img {
    display: inline-block;
  }
  .text {
    display: inline-block;
    position: relative;
    text-transform: uppercase;
    font-family: $GillSans;
    font-weight: 400;
    font-size: 18px;
    letter-spacing: 2.1px;
    @media #{$sm-max} {
      font-size: 20px;
    }
    &:after {
      content: '';
      height: 1px;
      background: #343840;
      position: absolute;
      width: 10000%;
      top: 50%;
      right: calc(100% + 40px);
    }
    &:before {
      content: '';
      height: 1px;
      background: #343840;
      position: absolute;
      width: 10000%;
      top: 50%;
      left: calc(100% + 40px);
    }
  }
}

.head-section {
  min-height: 175px;
  background: url('#{$path-img}background_texture.jpg') no-repeat;
  background-size: cover;
  background-attachment: fixed;
  transform: translateZ(0);
}

.page-title {
  margin: 0;
  padding: 60px 0;
  font: 300 44px/1.15 $GillSans;
  text-shadow: 0 0 215px #000;
  color: #fff;

  @media #{$xs-max} {
    font-size: 34px;
  }
}

.abstract-text {
  font: 300 27px/1.5 $GillSans;
  color: #8d8d8d;

  @media #{$xs-max} {
    font-size: 18px;
  }
}

.media-box {
  margin-bottom: 50px;

  @media #{$xs-max} {
    margin-bottom: 35px;
  }
  img {
    height: auto;
  }
}

.animated {
  transition: all 0.3s linear;
}