.slick-slider {
  .slick-arrow {
    border: none;
    display: block;
    width: 13px;
    height: 23px;
    padding: 0;
    text-indent: -99999em;
    position: absolute;
    top: 50%;
    margin-top: -11px;
    &.slick-prev {
      background: url('#{$path-img}prev.png') no-repeat;
      left: 14px;
    }
    &.slick-next {
      background: url('#{$path-img}next.png') no-repeat;
      right: 14px;
    }
  }
}

.slick-dots {
  margin: 0;
  padding: 0;
  list-style: none;
  position: absolute;
  bottom: -19px;
  left: 0;
  right: 0;
  text-align: center;
  button {
    display: none;
  }
  li {
    width: 8px;
    height: 8px;
    border: 1px solid #636363;
    background: #636363;
    border-radius: 50%;
    display: inline-block;
    vertical-align: top;
    cursor: pointer;
    margin: 0 2px;
    &.slick-active {
      background: #fff;
    }
  }
}

.slick-slide {
  padding: 25px 2%;
}