//Path
$path-fonts: '../fonts/';
$path-img: '../images/';

//Fonts
$Avenir-Light: 'Avenir-Light';
$GillSans: 'GillSans';
$source: 'Source Sans Pro', sans-serif;
$futuraBook: 'FuturaPTBook';
$futuraBold: 'FuturaPTBold';
$futuraMed: 'FuturaPTMedium';
$futuraDemi: 'FuturaPTDemi';
$futuraLight: 'FuturaPTLight';
$libre: 'Libre Baskerville', serif;
//$GillSans-Light: 'GillSans-Light';
//$GillSans-SemiBold: 'GillSans-SemiBold';

//Colors
$black: #000;
$white: #fff;

$dark-grey: #343840;
$grey: #555;
$light-grey: #8d8d8d;

//Default settings
$default-font: $Avenir-Light;
$default-font-size: 15px;
$default-line-height: 1.5;
$default-font-weight: 400;
$default-font-style: normal;
$default-text-color: $black;
$text-color-inverse: $white;
$body-bg: $white;

//Grid
$md-max: 'screen and (max-width: #{$screen-lg - 1})';
$md-min: 'screen and (min-width: #{$screen-md})';
$sm-max: 'screen and (max-width: #{$screen-md - 1})';
$sm-min: 'screen and (min-width: #{$screen-sm})';
$xs-max: 'screen and (max-width: #{$screen-sm - 1})';
$xs-min: 'screen and (min-width: #{$screen-xs})';
$xm-max: 'screen and (max-width: 479px)';
$xm-min: 'screen and (min-width: 480px)';