.case-holder {
  margin-bottom: 88px;
  h3 {
    font-family: GillSans;
    color: #545454;
    margin: 0 0 12px;
    font-size: 18px;
    font-weight: 400;
    line-height: 25px;
    text-transform: uppercase;
    letter-spacing: 1.8px;
    &:first-child {
      margin-bottom: 27px;
    }
  }
  .symptoms-text {
    font-family: GillSans;
    font-weight: 300;
    color: #7d7d7d;
    font-size: 27px;
    letter-spacing: 0.5px;
    word-spacing: -1px;
  }
  .diagnosis-title {
    margin-bottom: 26px;
  }
  .screens-holder {
    margin-top: 27px;
    margin-bottom: 38px;
    a {
      display: inline-block;
      vertical-align: top;
      max-height: 218px;
      margin: 20px 18px 0 0;
      max-width: 25%;
      overflow: hidden;
      @media all and (max-width: 768px) {
        max-width: 100%;
      }
      img {
        display: block;
        max-height: 100%;
      }
    }
  }
  .diagnosis-text {
    color: #8d8d8d;
    margin-bottom: 39px;
    line-height: 24px;
    letter-spacing: 0.4px;
  }
}

.homepage-widget-block {
  .about-text {
    p {
      line-height: 1.6;
      color: #8d8d8d;
    }
  }
}