.section-contact {
  .privacy_block {
    display: block;
    text-align: right;
    font-size: 14px;
    margin-top: 11px;
    margin-bottom: 21px;
    color: rgba(141, 141, 141, 1);
    font-weight: 500;
    a {
      text-decoration: underline;
      &:hover {
        text-decoration: none;
      }
    }
  }
  .user-text {
    margin-bottom: 20px;
    h3 {
      margin: -2px 0 28px;
      font-size: 18px;
      letter-spacing: 1px;
      color: #8d8d8d;
    }
    p {
      margin: 0 0 20px;
      &:last-of-type {
        margin: 0 0 33px;
      }
    }
  }
  .related_pages_block {
    h4 {
      margin-top: 20px;
    }
  }
  ::-webkit-input-placeholder {
    line-height: 1.5;
  }
  ::-moz-placeholder {
    line-height: 1.5;
  }
  /* Firefox 19+ */
  :-moz-placeholder {
    line-height: 1.5;
  }
  /* Firefox 18- */
  :-ms-input-placeholder {
    line-height: 1.5;
  }
}

.form-block {
  background: #d9dad8;
  padding: 36px 61px;
  margin-top: 39px;
  p {
    margin: 0;
  }
  @media #{$sm-max} {
    padding: 30px 20px;
  }
  .form_title {
    color: #545454;
    font-family: GillSans;
    font-size: 18px;
    line-height: 1;
    text-transform: uppercase;
    margin: 0 0 33px;
    letter-spacing: 1.8px;
  }
  .wpcf7-form-control-wrap {
    width: 44%;
    margin-bottom: 15px;
    float: left;
    input[type="text"],
    input[type="tel"],
    input[type="email"] {
      padding: 5px 5px;
      width: 100%;
    }
    &:nth-child(odd) {
      margin-left: 50px;
    }
    @media #{$xs-max} {
      width: 100%;
      &:nth-child(odd) {
        margin-left: 0;
      }
    }
    &.Name,
    &.Phone {
      margin-left: 0;
    }
  }
  input[type="submit"] {
    width: 200px;
    line-height: 1;
    margin-top: 7px;
    height: 50px;
  }
  br {
    display: none;
  }
}