//index page
.main_block {
  background: url('#{$path-img}main-bg.jpg') no-repeat;
  background-attachment: fixed;
  background-size: cover;
  color: #fff;
  .main-blocks {
    margin: 0;
  }
  .block {
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, .3);
    height: 257px;
    h2 {
      font-family: $GillSans;
      font-weight: 300;
      font-size: 35px;
      margin: 0;
      line-height: 1.2;
    }
    .text-holder {
      padding: 29px 0;
    }
    .btn {
      margin-top: 15px;
    }
    @media #{$sm-max} {
      height: 231px;
      font-size: 30px;
    }
  }
  .big_block {
    padding-left: 0px;
    padding-right: 0;
    width: 66.25%;
    @media #{$sm-max} {
      padding: 0;
      width: 100%;
    }
  }
  .col-md-4 {
    padding-left: 15px;
    padding-right: 0;
    width: 33.75%;
    @media #{$sm-max} {
      padding: 0 15px;
      margin-top: 15px;
      width: 100%;
    }
  }
  .links-block {
    .block-title {
      margin: 3px 0 11px;
      .text {
        &:after {
          background: #79797c;
        }
        &:before {
          background: #79797c;
        }
      }
      @media #{$sm-max} {
        margin: 12px 0 0;
      }
    }
  }
  .contact-block {
    background: #858ea2;
    padding: 0 39px;
    height: 530px;
    .text-holder {
      width: 51%;
      float: right;
      padding: 126px 0;
      line-height: 1.18;
    }
    .btn {
      min-width: 204px;
      margin-top: 22px;
    }
    h2 {
      font-size: 44px;
      letter-spacing: 0.5px;
    }
    @media #{$sm-max} {
      height: 225px;
      text-align: center;
      box-shadow: none;
      h2 {
        font-size: 30px;
      }
      .text-holder {
        width: 100%;
        padding: 52px 0 0;
        float: none;
      }
      .btn {
        min-width: 125px;
        letter-spacing: -0.5px;
      }
    }
  }
  .uterine {
    background: url('#{$path-img}uterine-bg.jpg') no-repeat;
    background-size: cover !important;
    padding: 0 37px;
    @media #{$sm-max} {
      text-align: center;
    }
  }
  .care {
    background: url('#{$path-img}care-bg.jpg') no-repeat;
    background-size: cover !important;
    margin-top: 15px;
    padding: 0 37px;
    @media #{$sm-max} {
      margin-top: 15px;
      text-align: center;
    }
  }
  .links-list {
    margin: 0;
    padding: 0;
    list-style: none;
    margin-bottom: 45px;
    display: flex;
    li {
      text-align: center;
      background: #fff;
      box-shadow: 0px 3px 15px 0px rgba(0, 0, 0, 0.18);
      color: #858ea2;
      padding: 0 30px 44px;
      width: 32.5%;
      //float: left;
      min-height: 270px;
      @media #{$sm-max} {
        width: 100%;
        min-height: 1px;
      }
      &:nth-child(2) {
        margin: 0 15px;
        @media #{$sm-max} {
          width: 100%;
        }
      }
      i {
        color: #c2c6d0;
        margin: 17px 0 9px;
        display: inline-block;
      }
      h4 {
        margin: 0 0 18px;
        color: #545454;
        font-family: $GillSans;
        text-transform: uppercase;
        font-weight: 400;
        letter-spacing: 2px;
        line-height: 1;
        @media #{$sm-max} {
          font-size: 21px;
          margin: 0 0 6px;
          letter-spacing: 4px;
        }
      }
      p {
        color: #858ea2;
        line-height: 25px;
        margin: 0 0 27px;
        letter-spacing: .4px;
        text-align: center;
        @media #{$sm-max} {
          font-size: 18px;
          margin: 0 0 42px;
        }
        .more-btn {
          font-size: 18px;
        }
      }
      &:hover {
        background: #858ea2;
        h4 {
          color: #fff;
        }
        p {
          color: #fff;
        }
        i {
          color: #fff;
        }
        a {
          text-decoration: underline;
          color: #fff;
        }
        .site_icon {
          &.icon-loc {
            background-position: 0 0;
          }
          &.icon-calendar {
            background-position: -17px 0;
          }
          &.icon-user {
            background-position: -38px 0;
          }
        }
      }
    }
    @media #{$sm-max} {
      display: block;
      padding: 0 15px;
      margin: 0 0 22px;
      li {
        padding: 0 22px 38px;
        margin-top: 18px;
        &:nth-child(2) {
          margin: 22px 0 0;
        }
        i {
          margin-bottom: 3px;
        }
        h4 {
          line-height: 1.2;
        }
        .more-btn {
          font-size: 18px;
        }
      }
    }
  }
  @media #{$sm-max} {
    .main-blocks {
      margin: 0;

    }
    .container-fluid {
      padding: 0;
    }
  }
}

.content_block {
  padding: 16px 0 0;
  .block-title {
    color: #545454;
    .text {
      &:before,
      &:after {
        background: #d7d7d7;
      }
    }
  }
  .welcome_block {
    padding: 0 0 34px;
    @media #{$sm-max} {
      padding: 0 0 12px;
    }
    .block-title {
      .text {
        &:after {
          right: calc(100% + 28px);
        }
        &:before {
          left: calc(100% + 28px);
        }
      }
    }
    p {
      margin: 0;
      padding-top: 14px;
      color: #858ea2;
      font-family: GillSans;
      font-weight: 300;
      font-size: 28px;
      line-height: 40px;
      max-width: 62%;
      text-align: center;
      margin: 0 auto;
      letter-spacing: -0.1px;
      @media #{$sm-max} {
        max-width: 100%;
        padding: 9px 15px 0;
        font-size: 24px;
        line-height: 1.5;
      }
    }
  }
  .procedures_block {
    text-align: center;
    .block-title {
      .text {
        &:after {
          right: calc(100% + 29px);
        }
        &:before {
          left: calc(100% + 29px);
        }
      }
    }
    .procedures-list {
      margin: 13px 0 0;
      padding: 0;
      list-style: none;
      display: -webkit-flex;
      display: -moz-flex;
      display: -ms-flex;
      display: -o-flex;
      display: flex;
      justify-content: space-between;
      & > li {
        width: 22.333%;
        padding: 42px 4px 44px;
        text-align: center;
        border: 1px solid transparent;
        &:hover {
          box-shadow: 1px 3px 10px 0px rgba(0, 0, 0, 0.07);
          border-color: #ced2da;
          .more-btn {
            text-decoration: underline;
          }
        }
      }
      h4 {
        font-family: $GillSans;
        color: #545454;
        font-size: 18px;
        font-weight: 400;
        margin: 0 0 27px;
        text-transform: uppercase;
        letter-spacing: 1.8px;
        line-height: 1.3;
        @media #{$sm-max} {
          font-size: 20px;
          margin-bottom: 52px;
        }
      }
      p {
        font-weight: 300;
        color: #858ea2;
        line-height: 24px;
        margin: 0 0 20px;
        letter-spacing: 0.4px;
        @media #{$sm-max} {
          font-size: 18px;
          line-height: 1.5;
          margin-bottom: 47px;
          & + .more-btn {
            font-size: 18px;
          }
        }
      }
      @media #{$sm-max} {
        display: block;
        & > li {
          width: 100%;
          padding: 95px 3%;
          &:hover {
            box-shadow: none;
            border-color: transparent;
          }
        }
      }
    }
    .procedures {
      margin-top: 16px;
      display: inline-block;
      color: rgba(85, 85, 85, 0.5);
      font-family: 'Libre Baskerville';
      font-style: italic;
      margin-bottom: 65px;
      letter-spacing: 0.6px;
      @media #{$sm-max} {
        margin-top: 60px;
        margin-bottom: 33px;
        font-size: 18px;
        letter-spacing: 0.3px;
      }
    }
  }
  .news_block {
    .block-title {
      .text {
        &:after {
          right: calc(100% + 51px);
        }
        &:before {
          left: calc(100% + 51px);
        }
      }
    }
    .news_list {
      margin: 42px 0 62px;
      padding: 0;
      list-style: none;
      @media #{$sm-max} {
        margin: 31px 0 66px;
      }
      li {
        text-align: center;
        margin: 21px 0 25px;
        color: #858ea2;
      }
      h4 {
        margin: 0 0 21px;
        color: #858ea2;
        font-size: 26px;
        font-family: $GillSans;
        font-weight: 300;
        letter-spacing: 0.5px;
        @media #{$sm-max} {
          font-size: 21px;
          margin: 0 0 19px;
        }
      }
      .more-btn {
        color: #858ea2;
        letter-spacing: 0.7px;
        @media #{$sm-max} {
          font-size: 18px;
        }
      }
    }
  }
  @media #{$sm-max} {
    padding: 18px 0 0;
    .container-fluid {
      padding: 0;
    }
  }
}