#ListContainer {
  padding-bottom: 30px;
}

.section-locations{

  .row {

    @media #{$sm-max} {
      display: flex;
      flex-direction: column-reverse;
    }
  }
}

.profile-list {

  .hospitals-block {
    margin-bottom: 20px;

    .title {
      font-size: 19px;
      letter-spacing: 1px;
      word-spacing: 4px;
    }

    .profile-info {
      padding: 38px 0 27px;
    }

    .show_map {
      display: flex;
      align-items: flex-start;
      justify-content: flex-start;
      margin: 0;
      width: auto;
      height: auto;
      border: 0;
      background: transparent;
      border-radius: 0;
      color: #7a8fc4;
      font-family: $libre;
      font-size: 15px;
      font-style: italic;
      line-height: 2.67;

      @media #{$xs-max} {
        justify-content: center;
      }

      &:hover, &:active, &:focus {
        border: 0;
        background: transparent;
        color: inherit;
        text-decoration: underline;
      }
    }

    .profile-name {
      width: 45.5%;

      .title {
        font: 400 normal 18px $GillSans;
      }

      .adress {
        color: #8d8d8d;
        font: 300 normal 16px $futuraLight;
        line-height: 1.5;
      }

      @media #{$xs-max} {
        width: 100%;
      }
    }

    .profile-specs {
      padding-left: 171px;
      width: 52.7%;
      font-size: 16px;
      font-weight: 300;
      letter-spacing: .7px;

      @media #{$xs-max} {
        padding-left: 0;
        width: 100%;
        margin-top: 20px;
      }

      span {
        color: #8d8d8d;
        font: 400 normal 15px $source;
        line-height: 1.6;
      }

      .title {
        font-size: 18px;
        top: -2px;
        left: -3px;
        letter-spacing: 2px;
      }
    }

    &:after {
      width: 100%;
    }

    .adress {
      color: #8d8d8d;
      font: 300 normal 16px $futuraLight;
      line-height: 1.5;
      letter-spacing: 1px;
    }

    .title {
      margin: 0 0 25px;
    }
  }
}

.homepage-widget-block {
  
  @media #{$sm-max} {
    margin: 0 !important;
    width: 50%;
    float: left;
    text-align: center;
  }

  @media #{$xs-max} {
    width: 100%;
    margin-bottom: 20px !important;
  }
}

.sub_nav_list,
.homepage-widget-block,
.homepage-widget-block ul {
  padding: 0;
  margin: 34px 0 0;
  list-style: none;

  h4,
  h2 {
    text-transform: uppercase;
    color: #545454;
    font-family: $GillSans;
    margin: 0 0 46px;
    font-size: 18px;
  }

  li {
    font-family: $Avenir-Light;
    color: #8d8d8d;
    margin-top: 9px;

    a {
      color: inherit;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  &:first-of-type {
    margin-top: 0;
  }

  &:last-of-type {
    margin-bottom: 20px;
  }
}

.textwidget {
  .shedule {
    margin: 0;

    h4 {
      color: #555;
      font: 500 normal 20px $futuraMed;
      line-height: 1.25;
    }

    a {
      display: block;
      color: #8d8d8d;
      font: 400 normal 16px $source;
      line-height: 1.5;
      letter-spacing: .9px;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}

.customCategoryList {
  position: relative;

  &:after {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 15px;
    display: block;
    content: '';
    width: 19px;
    height: 10px;
    background: url(../images/arrow-white.png) no-repeat;
  }
}

.adress_controls_wrp {
  position: relative;
  margin-top: 13px;

  @media #{$xs-max} {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
  }

  .procedure_sort {
    width: 239px;
    float: right;
    height: 52px;

    span {
      color: inherit;
      display: inline;
    }
  }

  span {
    margin-right: 5px;
    font-family: 'Montserrat';
    color: #555;
    font-size: 15px;
    text-transform: uppercase;
    display: inline-block;
    vertical-align: middle;
    letter-spacing: .3px;

    @media #{$md-max} {
      margin-right: 0;
    }

    @media #{$xs-max} {
      display: block;
    }
  }

  .zipcode {
    color: #606060;
    font-family: 'Montserrat';
    width: 17%;
    display: inline-block;
    vertical-align: middle;
    border: 1px solid #888;
    border-radius: 5px;
    text-transform: uppercase;
    padding: 17px 0 14px;
    text-align: center;
    line-height: 1;
    font-size: 15px;
    margin-left: 16px;

    @media #{$xs-max} {
      width: 151px;
    }

    &:focus {
      outline: none;
    }
  }

  @media #{$xs-max} {
    text-align: center;

    .zipcode {
      display: block;
      margin: 20px auto;
    }

    .procedure_label {
      display: inline-block;
      float: none;
      margin: 0 0 20px;
    }
  }
}

.map_holder {
  height: 346px;
}

.section-locations {

  .homepage-widget-block {
    
    h4 {
      font-size: 19px;
      word-spacing: 7px;
      margin: 0 0 15px;
      letter-spacing: .1px;
      word-spacing: 1px;      
      line-height: 1.25;
      text-transform: none;
    }
  }

  .btn-default {
    padding: 15px 15px 15px 0;
  }

  @include placeholder(#606060);
}

.prettyPagination {
  display: none !important;
}

.showfirst {
  .profile-block {
    &:nth-child(n+4) {
      display: none;
    }
  }
}

.hospitals-block {
  .profile-block {
    border-bottom: 1px solid #888 !important;
  }
}

.view-all-block {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 171px;
  height: 45px;
  margin: 35px auto 0;
  padding: 0;
  border: 1px solid transparent;
  border-radius: 22px;
  background: #f7f7f7;
  color: #555;
  font-family: $libre;
  font-size: 15px;
  font-style: italic;
  line-height: 1.33;
  cursor: pointer;
  transition: all .15s ease;

  &:hover, &:focus, &:active {
    text-decoration: none;
    background: transparent;
    border-color: #f7f7f7;
    outline: 0;

    a {
      text-decoration: none;
    }
  }
}

.FullMapPage #SingleMapLocation {
  height: 350px;
}

#MapAddressContainer {
  background: none;
  border-radius: 0;
  border: none;
  padding: 0;
  display: block;
  position: relative;
  overflow: hidden;

  .profile-name {
    width: 45.5%;
  }

  .profile-specs {
    padding-left: 171px;
    width: 52.7%;
    font-size: 16px;
    font-weight: 300;
    letter-spacing: .7px;
    position: relative;
    width: 53.5%;
    line-height: 24px;
    color: #8d8d8d;

    @media (max-width: 767px) {
      padding-left: 0;
      margin-top: 20px;
    }

    .title {
      font-size: 18px;
      top: -2px;
      left: -3px;
      letter-spacing: 2px;
      position: absolute;
      font: 18px/24px GillSans;
      text-transform: uppercase;

      @media (max-width: 767px) {
        position: relative;
      }
    }
  }

  .col {
      float: left;

      @media (max-width: 767px) {
        width: 100%;
        float: none;
        text-align: center;
      }
  }
}

#MapAddressLabel {
  display: none;
}

#MapDescription {
  display: none;
}

#MapAddress {
  color: #8d8d8d;
  font: 300 normal 16px FuturaPTLight;
  line-height: 1.5;
  letter-spacing: 1px;
}

#MapTitle {
  margin: 0 0 25px;
  font: 400 normal 18px GillSans;
  letter-spacing: 1px;
  word-spacing: 4px;
  text-transform: uppercase;
  color: #555;
}

.map_link {
  clear: both;

  @media (max-width: 767px) {
    text-align: center;
  }

  a {
    display: inline-block;
    margin: 0;
    width: auto;
    height: auto;
    border: 0;
    background: 0 0;
    border-radius: 0;
    color: #7a8fc4;
    font: 600 normal 17px "Libre Baskerville",serif;
    font-size: 15px;
    font-style: italic;
    line-height: 2.67;

    &:hover {
      color: #000;
      text-decoration: underline;
    }
  }
}

.prettyMapList {

  .getDirections {

    @media (max-width: 767px) {
      text-align: center;
    }

    span {
      font-family: Montserrat;
      vertical-align: middle;
      font-size: 15px;
      text-transform: uppercase;
      margin-right: 5px;
      color: #555;
      display: inline-block;
      letter-spacing: .3px;

      @media (max-width: 767px) {
        display: block;
      }
    }

    input {
      color: #606060;
      width: 17%;
      display: inline-block;
      border: 1px solid #888;
      border-radius: 5px;
      padding: 17px 0 14px;
      text-align: center;
      line-height: 1;
      margin-left: 16px;
      font-family: Montserrat;
      vertical-align: middle;
      text-transform: uppercase;
      font-size: 15px;

      @media (max-width: 767px) {
        display: block;
        width: 151px;
        margin: 20px auto;
      }
    }

    .btn {
      width: auto;
      min-width: 100px;
      height: 50px;
      padding: 15px;
      border: 1px solid #7a8fc4;
      background: #7a8fc4;
      font: 14px/20px Montserrat;
      text-transform: uppercase;
      color: #fff;
      transition: all .3s;
      border-radius: 5px;
      margin-left: 7px;

      &:hover {
        color: #ddd;
        background-color: #15191B;
        background-position: 0 -10px;
        background-repeat: repeat-x;
      }
    }
  }
}