.section-patient {
  .abstract-text {
    margin-bottom: 44px;
  }
  .media-box {
    margin-bottom: 61px;
  }
  .contact_form {
    padding: 24px 35px 18px 35px;
    background: #d9dad8;

    &:not(:first-child) {
      margin-top: 54px;
    }

    .form_title {
      color: #545454;
      font-family: GillSans;
      font-size: 18px;
      line-height: 1;
      margin: 0 0 16px;
      text-transform: uppercase;
      letter-spacing: 2px;
    }
    input[type="text"],
    input[type="tel"],
    input[type="email"],
    select {
      background: #fff;
      border: 1px solid #d7d7d7;
      margin-top: 13px;
      font-size: 16px;
      line-height: 1;
      color: #8d8d8d;
      padding: 6px 5px;
      width: 100%;
      display: inline-block;
    }

    option {
      white-space: normal;
      font-size: .8em;
    }

    input[type="submit"] {
      margin: 23px 0 10px;
      max-width: 200px;
    }
    span {
      font-size: 14px;
      display: block;
      color: #8d8d8d;
      line-height: 20px;
      a {
        text-decoration: underline;
        &:hover {
          text-decoration: none;
        }
      }
    }
    br {
      display: none;
    }
  }
  ::-webkit-input-placeholder {
    line-height: 1.2;
  }
  ::-moz-placeholder {
    line-height: 1.2;
  }
  /* Firefox 19+ */
  :-moz-placeholder {
    line-height: 1.2;
  }
  /* Firefox 18- */
  :-ms-input-placeholder {
    line-height: 1.2;
  }
}

.user-text {
  margin-bottom: 29px;
  line-height: 1.4;
  h3 {
    font-family: GillSans;
    color: #8d8d8d;
    font-size: 18px;
    margin: 10px 0 28px;
    letter-spacing: 1px;
    text-transform: uppercase;
  }
  p {
    color: #8d8d8d;
    text-align: justify;
    line-height: 24px;
    margin: 0 0 24px;
    clear: both;
    &:nth-last-child(2) {
      margin-bottom: 36px;
    }
    @media #{$sm-max} {
      text-align: left;
    }
  }
  a {
    font-family: 'Libre Baskerville';
    font-style: italic;
    letter-spacing: .4px;
    color: #8b9dcb;
    text-transform: capitalize;
    text-decoration: underline;
    &:hover {
      text-decoration: none;
    }
  }
  h2 {
    font-family: GillSans;
    color: #8d8d8d;
    font-size: 30px;
    margin: 10px 0 28px;
    letter-spacing: 1px;
    text-transform: uppercase;
  }
  h1 {
    font-family: GillSans;
    color: #8d8d8d;
    font-size: 36px;
    margin: 10px 0 28px;
    letter-spacing: 1px;
    text-transform: uppercase;
  }
  h4 {
    font-family: GillSans;
    color: #8d8d8d;
    font-size: 16px;
    margin: 10px 0 28px;
    letter-spacing: 1px;
    text-transform: uppercase;
  }
  ul {
    list-style: disc;
    color: #8d8d8d;
    margin-bottom: 23px;
    ul {
      list-style: disc;
    }
  }
  img.alignright {float:right; margin:0 0 1em 1em}
  img.alignleft {float:left; margin:0 1em 1em 0}
  img.aligncenter {display: block; margin-left: auto; margin-right: auto}
  a img.alignright {float:right; margin:0 0 1em 1em}
  a img.alignleft {float:left; margin:0 1em 1em 0}
  a img.aligncenter {display: block; margin-left: auto; margin-right: auto}
}

.related_pages_block {
  margin-bottom: 115px;
  h4 {
    font-family: 'Libre Baskerville';
    font-style: italic;
    font-size: 15px;
    margin-top: 22px;
    margin-bottom: 25px;
    color: #9d9d9d;
    letter-spacing: 0.7px;
  }
  .related_pages_list {
    padding: 0;
    margin: 0;
    list-style: none;
    li {
      margin-top: 22px;
    }
  }
  .title {
    font-family: 'GillSans';
    font-size: 19px;
    color: #555;
    text-transform: uppercase;
    padding-right: 15px;
    letter-spacing: 1.2px;
  }
  @media #{$md-max} {
    margin-bottom: 45px;
  }
}

.post_link_image {
  color: #fff;
  padding: 28px 30px 37px 30px;
  margin-top: 45px;
  margin-bottom: 45px;
  width: 100%;
  max-width: 257px;
  background: url('#{$path-img}post_img.jpg') no-repeat;
  background-size: cover;
  display: block;

  &:hover {
    color: #fff;

    .main-btn {
      background: #33363e;
      border: 1px solid #33363e;
      color: inherit;
    }
  }

  h3 {
    font-size: 35px;
    font-family: GillSans;
    font-weight: 300;
    line-height: 1.2;
    margin: 0 0 21px;
  }
  .main-btn {
    padding: 17px 0;
  }
}

.procedures-holder {
  //margin-bottom: 56px;
  .procedures-title {
    font-family: GillSans;
    color: #545454;
    font-size: 18px;
    font-weight: 400;
    margin: 0 0 33px;
    text-transform: uppercase;
    letter-spacing: 2px;
  }
  h4 {
    font-family: 'Avenir';
    color: #555;
    font-size: 15px;
    font-weight: 500;
    text-transform: capitalize;
    margin:0 0 34px;
    a{
      &:hover {
        text-decoration: underline;
      }
    }
  }
  ul {
    margin: 0 0 32px;
    padding: 0;
    list-style: none;
    li {
      color: #8d8d8d;
      margin-bottom: 8px;
      position: relative;
      &:before {
        content: '\2022';
        position: absolute;
        left: 0;
        top: 2px;
      }
      a{
        padding: 0 10px 0 15px;
        display: inline-block;
        line-height: 1.3;
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
  .single-category {
    width: 33.3%;
    float: left;
    @media all and(max-width: 768px){
      width: 100%;
      float: none;
    }
  }
  .right-category {
    width: 33%;
    float: right;
    @media all and(max-width: 768px){
      width: 100%;
      float: none;
    }
  }
}