.section-physicians {

  .media-box {
    margin-bottom: 20px;
  }
  
  .abstract-text-title {
    margin-bottom: 28px;

    span {
      color: #555;
      font: 300 normal 37px $GillSans;
      margin-bottom: 27px;
      letter-spacing: .3px; 
      line-height: 1.3;
    }
  }

  .abstract-text-subtitle {
    font: 500 normal 22px $futuraMed;
    color: #555;
    line-height: 2.05;
    padding: 0 0 8px;
    letter-spacing: .2px;

    a {
      padding-left: 4px;
      color: #7a8fc4 !important;
    }

    span {
      color: #555;
    }
  }

  .vertical-gap {
    font: 500 normal 22px $futuraMed;
    color: #555;
    text-align: center;
    padding: 15px 0 0;
  }

  .block-title .text:after,
  .block-title .text:before {
    background: #888;
  }

  .filter-area {
    padding: 5px 0 35px;
    text-align: left;
    border-bottom: 1px solid #dbdbdb;

    @media #{$xs-max} {
      padding: 20px 0 15px;
    }

    h5 {
      color: #555;
      font: 600 normal 16px $source;
    }

    .filter-box {
      float: none;
      display: inline-block;

      @media #{$xs-max} {
        display: block;
      }
    }

    .btn {
      margin: 18px 0 0;

      @media #{$xs-max} {
        margin: 0 0 20px;
      }
    }
  }
}

.sort-lastname_cont {

  a {
    color: #555;
    font: 400 normal 22px/59px "Gill Sans";
    text-transform: uppercase;
  }

  h5 {
    margin: 0 10px 17px 0;
    display: inline-block;
  }
}


.filter-last-name-all {
  position: relative;
  cursor: pointer;
  font-size: .9em;

  &:hover {
    color: #7a8fc4;
  }

  input {
    position: absolute;
    left: 0;
    top: 0;
    visibility: hidden;
    opacity: 0;

    &:checked + span {
      display: none;
    }
  }
}

.sort-speciality_cont {
  margin: 20px 0 0;

  h5 {
    margin: 0 0 20px;
  }
}

.physicians-list, .sort-speciality_cont {
  
  button {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
    width: 246px;
    height: 45px;
    padding: 0 30px;
    border-radius: 22px;
    background: #f7f7f7;
    border: 0;
    color: #555;
    font: 600 normal 16px/18px $source;
  }

  .dropdown-menu {
    width: 250px;
    height: 150px;
    overflow: hidden;
    overflow-y: auto;
  }

  .selected-item {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }

  .caret {
    margin-top: 3px;
    margin-left: auto;
    width: 18px;
    height: 10px;
    border: none;
    background: url(../images/arrow.png) no-repeat;
  }
}

.physicians-list {

  button {
    background: transparent;
    border: 1px solid #c3c3c3;
  }
}

.lastname-filter {
  display: inline-flex;
  justify-content: space-around;
  width: 100%;
  padding: 21px 0;
  border-top: 1px solid #dbdbdb;
  border-bottom: 1px solid #dbdbdb;

  @media #{$sm-max} {
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
  }

  label {
    position: relative;
    color: #555;
    font: 400 normal 22px $GillSans;
    text-transform: uppercase;
    text-decoration: none;
    margin: 0;
    cursor: pointer;

    input {
      position: absolute;
      left: 0;
      top: 0;
      visibility: hidden;

      &:checked + span {
        position: relative;
        color: #555;
        font: 400 normal 22px $GillSans;
        text-transform: uppercase;
        text-decoration: none;

        &:after {
          opacity: 1;
          visibility: visible;
        }
      }
    }

    span {

      @media #{$sm-max} {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 50px;
        height: 50px;
      }

      &:after {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        display: block;
        content: '';
        border: 2px solid #7a8fc4;
        width: 50px;
        height: 49px;
        opacity: 0;
        visibility: hidden;

        @media #{$md-max} {
          width: 35px;
          height: 34px;
        }

        @media #{$sm-max} {
          width: 50px;
          height: 50px;
        }
      }

      &:hover {

        &:after {
          opacity: 1;
          visibility: visible;
        }
      }
    }
  }
}

.notfound {
  width: 100%;
  display: none;
  text-align: center;
  margin-bottom: 40px;
}

.profile-list {
  display: flex;
  flex-flow: row wrap;

  .profile-block {
    position: relative;
    display: flex;
    flex-flow: column nowrap;
    border-bottom: 1px solid #e3e3e3;

    a {
      font-style: normal;
      color: #fff;
      font: 600 normal 17px $source;
    }
  }

  .profile-image {
    text-align: center;
  }

  .title {
    letter-spacing: 3px;
  }

  .profile-info {
    position: relative;
    overflow: hidden;
    height: 100%;
    padding: 32px 0 20px;

    @media #{$sm-max} {
      padding: 20px 0;
    }

    @media #{$xs-max} {
      text-align: center;
    }

    .col {
      float: left;
    }

    .title {
      margin: 0 0 22px;
      text-transform: uppercase;
      font: 18px/24px $GillSans;
      letter-spacing: 3px;
      color: $grey;

      @media #{$xs-max} {
        margin: 0 0 10px;
      }
    }
  }

  .profile-name {
    width: 46.5%;
    margin-bottom: 20px;

    @media #{$sm-max} {
      width: 35%;
    }

    @media #{$xs-max} {
      width: 100%;
    }
  }

  .profile-specs {
    position: relative;
    width: 53.5%;
    padding-left: 160px;
    font-size: 15px;
    line-height: 24px;
    color: $light-grey;

    @media #{$sm-max} {
      width: 65%;
    }

    @media #{$xs-max} {
      width: 100%;
      padding: 0;
    }

    .title {
      position: absolute;
      top: 0;
      left: 0;
      color: $light-grey;

      @media #{$xs-max} {
        position: relative;
      }
    }
  }
}

.row-physicians {
  display: inline-flex;
  flex-flow: row wrap;
  align-items: stretch;
  width: 100%;
  height: 100%;

  &:before {
    display: none;
  }

  @media #{$xs-max} {
    width: auto;
  }
}

.stretch-height {
   display: flex;
}

.profile-block {
  width: 100%;
  margin: 0 0 2.66em;

  @media #{$xs-max} {
    margin: 0 0 2.33em;
  }
  
  .col-top {
    position: relative;

    .title {
      margin-bottom: 40px;
      color: #555;
      font: 400 normal 2em $GillSans;
      line-height: 1.17;
      text-align: center;
      text-transform: uppercase;
    }

    &:after {
      position: absolute;
      bottom: -20px;
      left: 0;
      display: block;
      content: '';
      width: 100%;
      height: 245px;
      background: #f7f7f7;
      z-index: -1;
    }
  }

  .col-bottom {
    margin: 30px 0 0;

    .title {
      margin: 12px 0 10px;
      color: #555;
      font: 500 normal 22px $futuraMed;
      line-height: 1.36;
      letter-spacing: 1px;
    }

    p {
      margin: 0 0 30px;
      color: #8d8d8d;
      font: 400 normal 1.06em $source;
      line-height: 1.56;
    }
  }

  .image_holder {
    width: 250px;
    height: 313px;
    margin: 0 auto;
    background: white;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.45);
    z-index: 9;
    display: block;
  }

  .image_stub {
    width: 100%;
    height: 313px;
  }

  .read-more {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px auto 0;
    width: 171px;
    height: 45px;
    border-radius: 22px;
    background: #7a8fc4;
    border: 1px solid transparent;
    text-shadow: 0 2px 0 rgba(0, 0, 0, .02);
    color: #fff;
    font: 600 normal 1.13em $source;
    line-height: 1.76;
    transition: all .3s ease;

    &:hover, &:active, &:focus {
      background: transparent;
      text-decoration: none;
      border-color: #7a8fc4;
      color: #7a8fc4;
    }
  }
}

.view-all-block {
  padding: 35px 0 100px;
  text-align: center;

  @media #{$xs-max} {
    padding: 15px 0 50px;
  }

  .read-more {
    font-size: 15px;
    line-height: 20px;
    color: #9d9d9d;
  }
}
.single-physicians, .single-midlevel {

  .block-title {
    margin: 30px 0 25px;
  }

  .custom_col-md-9 {
    
    @media #{$md-min} {
      width: 73%;
    }
  }

  .custom_col-md-3 {
      
    @media #{$md-min} {
      width: 25%;
    }
  }

  .post_link_image {
    max-width: 100%;
    height: 100%;
    background-size: 100%;
    background-repeat: repeat-y;
    display: block;

    &:hover {
      color: #fff;

      .main-btn {
        background: #33363e;
        border: 1px solid #33363e;
        color: inherit;
      }
    }

    .main-btn {
      color: white;
    }
  }

  .homepage-widget-block {
    margin: 25px 0 0;

    h4 {
      margin: 5px 0 10px;
      color: #555;
      font: 500 normal 20px $futuraMed;
      word-spacing: 0;
      letter-spacing: .2px;
      text-transform: none;
    }

    p {
      color: #8d8d8d;
      font: 500 normal 16px $source;
      line-height: 1.6666;
    }

    .privacy-policy {
      margin-top: -10px;
      color: #8d8d8d;
      font: 600 normal 14px $source;
      line-height: 1.36;

      a {
        color: #8d8d8d;
        font: 600 normal 14px $source;
        line-height: 1.36;
        text-decoration: underline;
      }
    }
  }

  .title {
    margin-top: 5px;
    margin-bottom: 55px;
    color: #555;
    font: 400 normal 30px $GillSans;
    line-height: 1.17;
    letter-spacing: 3px;
    text-transform: uppercase;

    @media #{$sm-max} {
      margin-bottom: 20px;
    }
  }

  .section-patient {
    margin-bottom: 30px;

    .contact_form {
      padding: 26px 26px 18px;
    }
  }

  .text-holder {
    padding: 25px 32px;
    margin: 0 0 35px;
    background: #f7f7f7;
  }

  .related_pages_block {
    text-align: end;
  }

  .user-text {

    ul {
      list-style: none; 
      padding-left: 7px;
      margin-bottom: 25px;
    }

    h3 {
      margin: 10px 0 20px;
      color: #555;
      font-weight: 400;
      letter-spacing: 2px;
    }

    li {
      position: relative;
      color: #8d8d8d;
      font: 400 normal 16px $source;
      line-height: 1.57;

      &:before {
        position: absolute;
        display: block;
        content: '•';
        top: 0;
        left: -7px;
      }
    }
    
    strong {
      color: #555;
      font: 600 normal 16px $source;
    }

    p {
      margin-bottom: 0;
    }
  }
}

.photo-holder {
  width: 250px;
  height: 313px;
  background: white;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.45);
  z-index: 9;

  @media #{$sm-max} {
    margin: 0 auto 20px;
  }
}